# This is Git's per-user configuration file.
[user]
	name = nibru
	email = nikolaus.brunner@protonmail.ch

[core]
	editor = nvim

# Comment: This is to unlock Visual Studio Code as your Git diff and Git merge tool
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
