" https://gist.github.com/aca/ea551d91e305ca3ead8313fbd7bd999d
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
set rnu nu
set ideamarks

" set leader key ========================================
let mapleader =       "\<Space>"

" Escape ================================================
imap kj                <Esc>

" Unbind Q
map Q                 <nop>

" Creating Splits =======================================
map <leader>l        :vsp<CR>
map <leader>j        :sp<CR>

" Saving ================================================
map <leader>s        :action SaveAll<CR>

" Closers ===============================================
map <leader>cc       :action CloseContent<CR>
map <leader>cg       :action CloseEditorsGroup<CR>
map <leader>co       :action CloseAllEditorsButActive<CR>
map <leader>cpp      :action CloseProject<CR>

" Better window navigation with TabShifter ==============
map <C-h>            :action TabShiftActions.MoveFocusLeft<CR>
map <C-j>            :action TabShiftActions.MoveFocusDown<CR>
map <C-k>            :action TabShiftActions.MoveFocusUp<CR>
map <C-l>            :action TabShiftActions.MoveFocusRight<CR>

" Stretch Panes with TabShifter =========================
map <C-A-h>          :action TabShiftActions.StretchLeft<CR>
map <C-A-j>          :action TabShiftActions.StretchDown<CR>
map <C-A-k>          :action TabShiftActions.StretchUp<CR>
map <C-A-l>          :action TabShiftActions.StretchRight<CR>
map <C-A-m>          :action TabShiftActions.ToggleMaximizeRestore<CR>

" Stretch Panes with TabShifter =========================
nmap H                :action PreviousTab<CR>
nmap J                :action NextTab<CR>
nmap K                :action PreviousTab<CR>
nmap L                :action NextTab<CR>

" Insert Lines ==========================================
" .. below.
nnoremap <A-k>     O<esc>0C<esc>j
" .. below.
nnoremap <A-j>     o<esc>0C<esc>k

" Comment ===============================================

" Settings ==============================================
map <A-,>            :action ShowSettings<CR>

" Folding ===============================================
" These do not work properly. I will use the KeyMap from IntelliJ
" Folding with VIM: https://vim.fandom.com/wiki/Folding
nmap zC              :action CollapseRegionRecursively<CR>
nmap zO              :action ExpandRegionRecursively<CR>
nmap zR              :action ExpandAllRegions<CR>

" VCS ===================================================
map <leader>gs       :action Vcs.Show.Local.Changes<CR>
map <leader>gc       :action ChangesView.ToggleCommitUi<CR>
map <leader>go       :action Vcs.QuickListPopupAction<CR>
map <leader>gpu      :action Vcs.Push<CR>
map <leader>gup      :action Vcs.UpdateProject<CR>

" Files =================================================
" Action
map <leader><leader> :action GotoAction<CR>

" Open Tree
map <leader>ot       :action ActivateProjectToolWindow<CR>

" Open File
map <leader>of       :action GotoFile<CR>

" Open Project
map <leader>opp      :action ManageRecentProjects<CR>

" Open Recent
map <leader>or       :action RecentFiles<CR>

" Find Text
map <leader>ft       :action FindInPath<CR>

" Rename ================================================
map <leader>rn       :action RenameElement<CR>

" Comment ===============================================
nmap gcc              :action CommentByLineComment<CR>
vmap gc               :action CommentByLineComment<CR>
vmap gC               :action CommentByBlockComment<CR>

" Run ===================================================
map <leader>run      :action RunMenu<CR>

" Actions ===============================================
nmap <leader>clr      ggVGdd<CR>
nmap <leader>cpa      ggVGy<CR>

