" set leader key
let mapleader =               "\<Space>"

" Basic Settings
set rnu nu
set incsearch
set ideamarks
set highlightedyank
set commentary
set surround
set easymotion
"set scrolloff=999

nmap s                        <Plug>(easymotion-s)

" Unbind Q
map Q                         <nop>

" Enter ZenMode
map <leader>z                 :action ToggleZenMode<CR>
map <leader>d                 :action ToggleDistractionFreeMode<CR>

" Creating Splits ============
map <leader>l                 :vsp<CR>
map <leader>j                 :sp<CR>

" Saving =====================
nmap <CR>                     :wa<CR>

" Closers ====================
map <leader>qq                :action CloseContent<CR>
map <leader>qg                :action CloseEditorsGroup<CR>
map <leader>qu                :action CloseAllUnmodifiedEditors<CR>
map <leader>qo                :action CloseAllEditorsButActive<CR>
map <leader>qp                :action CloseProject<CR>

" Window Navigation =========
map <C-h>                     :action TabShiftActions.MoveFocusLeft<CR>
map <C-j>                     :action TabShiftActions.MoveFocusDown<CR>
map <C-k>                     :action TabShiftActions.MoveFocusUp<CR>
map <C-l>                     :action TabShiftActions.MoveFocusRight<CR>

" Switch Tabs ================
nmap <S-Tab>                  :action PreviousTab<CR>
nmap <Tab>                    :action NextTab<CR>

" Move Tabs ================
nmap <C-S-h>                  :action TabShiftActions.ShiftLeft<CR>
nmap <C-S-j>                  :action TabShiftActions.ShiftDown<CR>
nmap <C-S-k>                  :action TabShiftActions.ShiftUp<CR>
nmap <C-S-l>                  :action TabShiftActions.ShiftRight<CR>

" Resize Panes ==============
map H                         :action TabShiftActions.StretchLeft<CR>
map J                         :action TabShiftActions.StretchDown<CR>
map K                         :action TabShiftActions.StretchUp<CR>
map L                         :action TabShiftActions.StretchRight<CR>
map <leader>m                 :action TabShiftActions.ToggleMaximizeRestore<CR>
map <leader>=                 :action tabshifter.Actions.EqualSizeSplit<CR>

" Folding ===================
" These do not work properly. I will use the KeyMap from IntelliJ
" Folding with VIM: https://vim.fandom.com/wiki/Folding
nmap zC                       :action CollapseAllRegions<CR>
nmap zO                       :action ExpandAllRegions<CR>

" VCS =======================
map <leader>ghu                :action Vcs.RollbackChangedLines<CR>
map <leader>gb                :action Annotate<CR>
map <leader>gs                :action Vcs.Show.Local.Changes<CR>
map <leader>gc                :action ChangesView.ToggleCommitUi<CR>
map <leader>go                :action Vcs.QuickListPopupAction<CR>
map <leader>gpu               :action Vcs.Push<CR>
map <leader>gup               :action Vcs.UpdateProject<CR>

" Files =====================
" Open Action
nmap <leader>oa                :action GotoAction<CR>

" Open Project
nmap <leader>po                :action ManageRecentProjects<CR>

" Find Text
nmap <F12>                     :action FindInPath<CR>

" Refactor
nmap rf                       :action Refactorings.QuickListPopupAction<CR>
nmap rs                       :action SurroundWith<CR>

" Quick Docu
map gh                        :action QuickJavaDoc<CR>
map <leader>i                 :action ShowErrorDescription<CR>

" Run =======================
map <leader>run               :acion RunMenu<CR>

" Actions ===================
nmap <leader>clr              ggVGdd
nmap <leader>cpa              ggVGy
nmap <leader>cpl              ^v$

" YouTrack ==================
nmap <leader>yt               :action ActivateYouTrackToolWindow<CR>

