[
  {
    "openSelectedFolders" : true,
    "enabled" : true,
    "modifierFlags" : 1966379,
    "openSelectedFiles" : true,
    "order" : 0,
    "url" : "\/Applications\/Firefox.app",
    "keyCode" : 11,
    "hideIfActive" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAEQN5xCEotYEoT4DKtxg9nLUFe5kZEF9jjlHaHbTiHL3TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAA7IkIAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsiZrIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "openSelectedFolders" : true,
    "order" : 1,
    "enabled" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGvGHFQ6FNdOBGL\/LJYGrcBNTdyKXmzL+b3uB9iaIyR3TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABJbnNvbW5pYS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABNaIwAAAAAAAgAAAAEAwAAr+LnAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwvw8ZQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 1966379,
    "keyCode" : 14,
    "url" : "\/Applications\/Insomnia.app"
  },
  {
    "enabled" : true,
    "modifierFlags" : 1966379,
    "order" : 2,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAAOxeLK2DNdXahJqN6iVJmW8xHpItXGKa5E+\/Y6EdcMBWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAA64oGAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwrxFvgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 13,
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "url" : "\/Applications\/Visual Studio Code.app",
    "openSelectedFiles" : true
  },
  {
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 1966379,
    "order" : 3,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAASZSgCS4tnoY\/eNR2R6hksgHRHiBtLkoBDV6W2A0uscTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABXZWJTdG9ybS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABNaIwAAAAAAAgAAAAEAwAAcj0LAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwri00gAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/WebStorm.app",
    "enabled" : false,
    "hideIfActive" : true,
    "keyCode" : 13
  },
  {
    "url" : "\/Applications\/Obsidian.app",
    "hideIfActive" : true,
    "keyCode" : 1,
    "modifierFlags" : 1966379,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAPNLK4JmYgc2gI2zkfGADkop+KViuHwJjSME54WeeXGgTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPYnNpZGlhbi5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAAa50IAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsh7CoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "order" : 4
  },
  {
    "order" : 5,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGtOE000J0fV43NVfJ+RV3ZZloSP6mExw0veDLbu\/Ns0TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAA82wKAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwr73HAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : true,
    "enabled" : true,
    "modifierFlags" : 1966379,
    "url" : "\/Applications\/iTerm.app",
    "keyCode" : 0,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true
  },
  {
    "openSelectedFiles" : true,
    "url" : "\/System\/Applications\/Mail.app",
    "hideIfActive" : true,
    "openSelectedFolders" : true,
    "order" : 6,
    "enabled" : true,
    "keyCode" : 46,
    "bookmark" : "Ym9va1ACAAAAAAQQMAAAAGrody\/7zzMICO\/MlN+ng\/1aEsma9TM5hnZMTCX5JAP8cAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAd1kAAP\/\/\/w8IAAAABAMAACPuBgD\/\/\/8PCAAAAAQDAAAk7gYA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBwoWGi4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABcAQAAAAAAAAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAQAQAAAAAAABIgAADwAAAAAAAAABMgAAAAAQAAAAAAACAgAAA8AQAAAAAAADAgAABoAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 1966379
  },
  {
    "order" : 7,
    "openSelectedFolders" : true,
    "modifierFlags" : 1966379,
    "enabled" : true,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAABBSu9S8IQJY\/KN6TltVsdlqaqmLu7gpKB1Wl\/qEbiW9VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAABFRAgAAAAAACAAAAAQDAABtOAoAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCu7HjAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwsyGHSO4mSQAAAABAQAARDEyRTk5NjItNjE3Ny00NTAyLUIwOUItRkQ3MkFBNTg4Q0FGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "url" : "\/Applications\/Google Chrome.app",
    "openSelectedFiles" : true,
    "keyCode" : 2,
    "hideIfActive" : true
  },
  {
    "hideIfActive" : true,
    "modifierFlags" : 1966379,
    "keyCode" : 3,
    "bookmark" : "Ym9va3wCAAAAAAQQMAAAAEkDxjCTVcEUu6Hmi9YYpnVrLf88au+qjMRjG8Tr+ggrnAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAd1kAAP\/\/\/w8IAAAABAMAAPNZAAD\/\/\/8PCAAAAAQDAAAWywAA\/\/\/\/DwgAAAAEAwAALd8AAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHCSNn1gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwsyGHSO4mSQAAAABAQAARDEyRTk5NjItNjE3Ny00NTAyLUIwOUItRkQ3MkFBNTg4Q0FGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFgAAAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAIgBAAAAAAAABSAAAPgAAAAAAAAAECAAAAgBAAAAAAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAAMCAAAJQBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFiles" : true,
    "enabled" : true,
    "openSelectedFolders" : true,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "order" : 8
  },
  {
    "hideIfActive" : true,
    "modifierFlags" : 10354987,
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 96,
    "order" : 9,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAFnjriG4vKTLIQEvLJExPniaFvdJz6Ma3XGwNTgPPXHKTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABUZWxlZ3JhbS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAAglMKAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsqGC4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Telegram.app",
    "openSelectedFiles" : true
  },
  {
    "enabled" : true,
    "hideIfActive" : true,
    "order" : 10,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAKzebzUFz6bcRFyYX9ppmmBDRmvZEIGpP9JMX4LGxaJOTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTaWduYWwuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAAJfU7AAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwtd+bQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 97,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Signal.app",
    "modifierFlags" : 10354987
  },
  {
    "modifierFlags" : 10354987,
    "enabled" : true,
    "order" : 11,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAO1R38uVcUVBYtjzVgtxW1X7zLiNX7TwLNl5SNP2wMmwTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAADUsKAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrtib4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 98,
    "hideIfActive" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Slack.app"
  },
  {
    "enabled" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "url" : "\/Applications\/Skype.app",
    "order" : 12,
    "keyCode" : 100,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAACgUgO2VNmVfqieIDXbhMDgc3WD\/0c6TOrp1g5+cyFlpTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTa3lwZS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABNaIwAAAAAAAgAAAAEAwAATkm7AAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwvSwEAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "modifierFlags" : 10354987,
    "openSelectedFiles" : true
  },
  {
    "order" : 13,
    "enabled" : true,
    "hideIfActive" : true,
    "keyCode" : 103,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAFxbr3gvtambbbmBdUQMDGVFSYywKyX4LhK5QYYE\/JYrTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAAJzwKAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsAf3IAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Spotify.app",
    "modifierFlags" : 10354987
  },
  {
    "hideIfActive" : false,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAFjJc4noGCQiJMlb59BeVLkrfzfiWBxz\/LBqx3WDnM89WAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABLYXJhYmluZXItRWxlbWVudHMuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABNaIwAAAAAAAgAAAAEAwAABm4IAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwqYr7wAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Karabiner-Elements.app",
    "keyCode" : 111,
    "enabled" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 10354987,
    "order" : 14
  },
  {
    "openSelectedFiles" : true,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "keyCode" : 49,
    "enabled" : false,
    "order" : 15,
    "modifierFlags" : 1179648
  }
]