[
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAEQN5xCEotYEoT4DKtxg9nLUFe5kZEF9jjlHaHbTiHL3TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAA7IkIAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsiZrIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "hideIfActive" : true,
    "modifierFlags" : 1966379,
    "url" : "\/Applications\/Firefox.app",
    "keyCode" : 11,
    "enabled" : true,
    "openSelectedFolders" : true,
    "order" : 0
  },
  {
    "enabled" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAAOxeLK2DNdXahJqN6iVJmW8xHpItXGKa5E+\/Y6EdcMBWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAA64oGAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBwrxFvgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : true,
    "url" : "\/Applications\/Visual Studio Code.app",
    "keyCode" : 14,
    "order" : 1,
    "modifierFlags" : 1966379,
    "openSelectedFolders" : true
  },
  {
    "keyCode" : 49,
    "openSelectedFiles" : true,
    "order" : 2,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAADk6q3mTUYWZWmEHZkIbDMEmzey7Fs5fVTC7BJ60M7dnSAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADBYgAAAAAAAAgAAAAEAwAAvIAEAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw2XGuIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwgAAAABAQAAVW50aXRsZWQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAARDNDMTREN0QtQzYxRC00NkI0LUEzMDUtQUY5OTMwMzMwMzRBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgAAAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1966379,
    "enabled" : true,
    "url" : "\/Applications\/kitty.app"
  },
  {
    "url" : "\/Applications\/Google Chrome.app",
    "hideIfActive" : true,
    "order" : 3,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAABBSu9S8IQJY\/KN6TltVsdlqaqmLu7gpKB1Wl\/qEbiW9VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAABFRAgAAAAAACAAAAAQDAABtOAoAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCu7HjAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwsyGHSO4mSQAAAABAQAARDEyRTk5NjItNjE3Ny00NTAyLUIwOUItRkQ3MkFBNTg4Q0FGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 1966379,
    "keyCode" : 2,
    "openSelectedFolders" : true
  },
  {
    "openSelectedFolders" : true,
    "modifierFlags" : 1966379,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAPNLK4JmYgc2gI2zkfGADkop+KViuHwJjSME54WeeXGgTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPYnNpZGlhbi5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAAa50IAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwsh7CoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Obsidian.app",
    "hideIfActive" : true,
    "openSelectedFiles" : true,
    "enabled" : true,
    "order" : 4,
    "keyCode" : 45
  },
  {
    "enabled" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "order" : 5,
    "url" : "\/Applications\/Insomnia.app",
    "openSelectedFolders" : true,
    "modifierFlags" : 1966379,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGvGHFQ6FNdOBGL\/LJYGrcBNTdyKXmzL+b3uB9iaIyR3TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABJbnNvbW5pYS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABNaIwAAAAAAAgAAAAEAwAAr+LnAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwvw8ZQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 6
  },
  {
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 1966379,
    "hideIfActive" : true,
    "order" : 6,
    "keyCode" : 15,
    "enabled" : true,
    "url" : "\/Applications\/Slack.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAO1R38uVcUVBYtjzVgtxW1X7zLiNX7TwLNl5SNP2wMmwTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAARUQIAAAAAAAgAAAAEAwAADUsKAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrtib4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcLMhh0juJkkAAAAAQEAAEQxMkU5OTYyLTYxNzctNDUwMi1CMDlCLUZENzJBQTU4OENBRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "enabled" : true,
    "order" : 7,
    "openSelectedFolders" : true,
    "modifierFlags" : 1966379,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "hideIfActive" : true,
    "keyCode" : 3,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va3wCAAAAAAQQMAAAAEkDxjCTVcEUu6Hmi9YYpnVrLf88au+qjMRjG8Tr+ggrnAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAd1kAAP\/\/\/w8IAAAABAMAAPNZAAD\/\/\/8PCAAAAAQDAAAWywAA\/\/\/\/DwgAAAAEAwAALd8AAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHCSNn1gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwsyGHSO4mSQAAAABAQAARDEyRTk5NjItNjE3Ny00NTAyLUIwOUItRkQ3MkFBNTg4Q0FGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFgAAAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAIgBAAAAAAAABSAAAPgAAAAAAAAAECAAAAgBAAAAAAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAAMCAAAJQBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "openSelectedFiles" : true,
    "modifierFlags" : 1966379,
    "enabled" : true,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAAOdG2jPNNk+8kapHhSMmz\/pLgKWW9zNOLeu8Q7eOnJHqSAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADBYgAAAAAAAAgAAAAEAwAAVfoZAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw6fp8YAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwgAAAABAQAAVW50aXRsZWQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAARDNDMTREN0QtQzYxRC00NkI0LUEzMDUtQUY5OTMwMzMwMzRBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAAAAAAAiAAADQBAAAAAAAABSAAAKgAAAAAAAAAECAAALgAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 29,
    "url" : "\/Applications\/Spotify.app",
    "order" : 8,
    "hideIfActive" : false,
    "openSelectedFolders" : true
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1966379,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHRm\/POk5a7DmCvEm\/lL1PsizyALqVq4FqMcV5PhYjEdTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAAAxUGFzc3dvcmQuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAwWIAAAAAAAAIAAAABAMAAPeECQAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcOtWNkAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAFVudGl0bGVkCAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAEQzQzE0RDdELUM2MUQtNDZCNC1BMzA1LUFGOTkzMDMzMDM0QRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA8AAAAAAAAAAUQAABsAAAAAAAAABAQAACMAAAAAAAAAEAQAAB8AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACsAAAAAAAAABAgAAC8AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/1Password.app",
    "keyCode" : 36,
    "enabled" : true,
    "order" : 9
  },
  {
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 1179648,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false,
    "enabled" : false,
    "order" : 10,
    "keyCode" : 49
  }
]